@mixin topbar($height, $background-color) {
  width: 100%;
  height: $height;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  // Highest possible z-index, given browser limitations
  z-index: 16777271;
}

.topbar {
  @include topbar($topbar-height, white);
  border-color: $brand-color;
  border-style: solid;
  border-width: 0px 0px 3px 0px;

  &__spacing {
    height: $topbar-height;
  }

  &__logo {
    color: $dark-grey;
    font-size: 20px;
    margin-left: 20px;

    a:hover {
      text-decoration: none;
      color: black;
    }

    a:active {
      text-decoration: none;
      color: black;
    }
    a:focus {
      text-decoration: none;
      color: black;
    }
  }

  &__codePost-P {
    color: $brand-color;
  }

  &__welcome {
    display: flex;
    font-size: 14px;
    margin-right: 20px;
    align-items: center;

    &__text {
      margin-right: 25px;
    }

    &__logout {
      @include button(white, $dark-grey);
      padding: 3px 7px;
      border: 1px solid $mid-grey;
      border-radius: 7px;
    }
  }
  &__settingsIcon {
    margin-right: 15px;
    margin-bottom: -5px;
  }
}

.topbar--Landing {
  @include topbar($topbar-height, white);
  border-color: $brand-color;
  border-style: solid;
  border-width: 0px 0px 3px 0px;

  &__spacing {
    height: $topbar-height;
  }
  .LandingBtn {
    margin-left: 2px;
    margin-right: 2px;

    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}
