.button {
  &--disabled {
    background-color: gray !important;
    cursor: pointer;
  }

  &__start-grading {
    width: 250px;
    margin: auto;
    margin-top: 40px;
    padding: 7px 16px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: #2ecc71;
    border-radius: 5px;

    &:hover {
      background-color: #167e43;
      cursor: pointer;
    }
  }

  $button-get-another-height: 30px;

  &__get-another {
    display: inline-block;
    height: $button-get-another-height;
    font-size: $button-get-another-height / 2;
    border-radius: $button-get-another-height / 6;
    padding: $button-get-another-height / 6;
    background-color: #2ecc71;
    color: white;

    &:hover {
      background-color: #167e43;
      cursor: pointer;
    }
  }

  &__release {
    color: blue;
    cursor: pointer;
  }
}
