.button {
  &--disabled {
    background-color: gray !important;
    cursor: pointer;
  }

  &--start-grading {
    width: 250px;
    margin: auto;
    margin-top: 40px;
    padding: 7px 16px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: #2ecc71;
    border-radius: 5px;

    &:hover {
      background-color: #167e43;
      cursor: pointer;
    }
  }

  $button-get-another-height: 30px;

  &--get-another {
    display: inline-block;
    height: $button-get-another-height;
    font-size: $button-get-another-height / 2;
    border-radius: $button-get-another-height / 6;
    padding: $button-get-another-height / 6;
    background-color: #2ecc71;
    color: white;

    &:hover {
      background-color: #167e43;
      cursor: pointer;
    }
  }

  &--release {
    color: red;
    cursor: pointer;
  }

  &--finalize {
    position: absolute;
    width: 80px;
    height: 42.2px;
    right: 20px;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    background: #f7faf6;
    border: 1px solid #c7c7c7;
    line-height: 42.2px;
    cursor: pointer;

    &:hover {
      background: #fafcf9;
    }
  }

  &--comment {
    display: inline-block;
    min-width: 30px;
    padding: 4px 8px;
    margin: 4px 4px -10px 4px;
  }

  &--rubric-arrow {
    float: right;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
}
