.code-container {
  position: relative;

  border-radius: 5px;

  overflow-y: hidden;

  .code {
    z-index: 0;
    position: absolute;
    top: 25px;

    // FIXME: get rid of all these !importants

    border: 0px !important;
    overflow-x: scroll;
    overflow-y: hidden;

    margin: 0px !important;

    // SyntaxHighlighter style clone
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    white-space: pre;
    word-break: break-all;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    font-stretch: 100%;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    code {
      white-space: pre;
    }

    &--underlay {
      font-family: $fontCode !important;
      color: transparent;
    }

    &--syntax {
      font-family: $fontCode !important;

      // We can hide code-syntax scrollbar while showing code-main scrollbar
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--markdown {
      white-space: pre-wrap;
      word-wrap: normal;
      word-break: normal;
    }

    .highlight {
      display: inline-block;
      background-color: get('theme.highlight');
      opacity: 0.2;
      height: get('theme.highlightHeight');
      vertical-align: middle;

      // Override selection styling
      &::selection {
        color: transparent; /* WebKit/Blink Browsers */
        background: transparent;
      }

      &::-moz-selection {
        color: transparent; /* Gecko Browsers */
        background: transparent;
      }
    }
  }
}
