.code-panel {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 14px 0px;

  flex: 1;
  overflow: auto;
  white-space: nowrap;

  &--code {
    display: inline-block;
    vertical-align: top;
  }

  &--comments {
    vertical-align: top;
    display: inline-block;

    // min-width: 360px;
    position: relative;

    padding-right: 10px;

    overflow-x: visible;

    // /* width */
    // &::-webkit-scrollbar {
    //   width: 8px;
    // }

    // /* Track */
    // &::-webkit-scrollbar-track {
    //   background: #f2f2f2;
    // }

    // /* Handle */
    // &::-webkit-scrollbar-thumb {
    //   background: $actionGreenFade;
    // }

    // /* Handle on hover */
    // &::-webkit-scrollbar-thumb:hover {
    //   background: $actionGreen;
    // }
  }
}

.layout-resizer {
  .rc-slider-handle {
    &:active {
      box-shadow: 0 0 5px $brandPrimary;
    }

    &:focus {
      box-shadow: 0 0 5px $brandPrimary;
    }
  }
}
