@use 'sass:color';

// Minimal modern styles for CPButton component
.cp-button-with-text {
  min-width: 127px;
}

// Dark theme button hover effect
.ant-btn:not(.ant-btn-primary):not(.ant-btn-dangerous).cp-button-dark {
  &:hover {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}

// Highlight button hover effect
.ant-btn.cp-button-highlight {
  &:hover {
    // border-color: lighten(#24be85, 10%) !important;
    background-color: color.adjust(#24be85, $alpha: -0.2) !important;
    // color: lighten(#24be85, 10%) !important;
    color: color.adjust(#24be85, $alpha: -0.2) !important;
  }
}

// Small circle buttons
.ant-btn-circle.ant-btn-sm {
  width: 20px !important;
  height: 20px !important;
  font-size: 11px !important;
}
