.cp-badge {
  min-width: 33px;
  height: 21px;

  .ant-badge-count {
    box-shadow: 0 0 0 0px transparent;
  }

  &--neutral {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &--bad {
    background-color: $actionRed;
  }
}
