.dialog {
  &--new-assignment {
    display: inline-block;
  }

  &--assignment-settings {
    .md-dialog {
      width: 500px;
    }
  }

  &--section {
    border: 1px solid $brand-color;
    padding: 10px;
  }

  &--create-course {
    .md-dialog-content {
      overflow: visible;
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2px;

      &--left {
        grid-column: 1 / 6;
      }

      &--right {
        grid-column: 6;
      }
    }
  }
  &--rubricUpload {
    .md-dialog {
      width: 500px;
    }
  }
  &--rosterUpload {
    .md-dialog {
      width: 500px;
      max-height: calc(100% - 120px);
      top: 52%;
    }
    .md-dialog-content {
      padding: 0px 28px 0px 28px;
      max-height: calc(100% - 270px);
    }
  }
  &--generalLoading-text {
    .md-dialog {
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
    }
    .md-title--dialog {
      color: white;
    }
  }
  &--generalLoading-notext {
    .md-dialog {
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none !important;
      color: white;
    }
  }

  &--upload-submission {
    .md-dialog {
      width: 50%;
      height: 60%;
    }

    &__assignment {
      min-width: 100px;
      width: 40%;
    }

    &__actions {
      display: flex;
    }
  }
}
