.file-inputs__upload-card {
  align-self: flex-start;
  margin: 8px;
  max-width: 320px;
  display: inline-block;
  position: relative;

  .md-card-title--primary {
    overflow: scroll;
  }

  &--application.md-card {
    background: get-color('background', false);
  }

  &__remove.md-btn {
    background: rgba($md-black-base, 0.54);
    color: $md-white-base;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  &__dummy-file.md-icon {
    left: 50%;
    position: absolute;
    top: 25%;
    transform: translateX(-50%);
  }

  pre {
    max-height: 180px;
    overflow: auto;
  }
}

.file-upload__button {
  .md-btn {
    background-color: $normal-grey;
  }
}
