.grade-rubric {
  &__search-bar {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: $font-size-large;
    border: 1px solid $theme-grey;
    border-radius: 2px;
    // box-sizing: border-box;
  }

  &__category {
    padding: 0px;
    border: 1px solid $theme-grey;

    &__title-row {
      background-color: $light-grey;
      padding-top: 3px;
      cursor: pointer;
      position: relative;

      &__title {
        font-size: $font-size-large;
        font-weight: bold;
        padding-left: 10px;
      }
    }

    &__table {
      width: 100%;
    }

    &__comment-row {
      display: flex;
      padding-left: 10px;
      border-radius: 8px;
      border: 1px solid $theme-grey;
      cursor: pointer;
      align-items: center;
      margin: 2px;

      &__text {
        flex: 1 1 0;
        font-size: $font-size-normal;
        padding: 2px;
      }

      &__point-delta {
        flex: 0 1 25px;
        font-size: $font-size-normal;
        text-align: center;
      }

      &:hover {
        color: $brand-color;
      }
    }
  }
}
