@mixin react-select-format() {
  &__control {
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-color: $light-grey !important;
    border-radius: 0px !important;
    font-weight: 500;
    &--is-focused {
      border-width: 0px 0px 1px 0px !important;
      border-style: solid !important;
      border-color: $brand-color !important;
      box-shadow: none !important;
    }
  }

  &__option--is-focused {
    background-color: $very-light-green !important;
  }
}
.multiselect--ViewAll {
  @include react-select-format();

  &__control {
    margin-bottom: 20px;
    max-width: 70% !important;
  }
  &__menu {
    max-width: 70% !important;
  }

  &__multi-value {
    border-radius: 10px !important;
    font-size: $font-size-medium !important;

    &__remove {
      border-radius: 10px !important;
    }
  }
}

.select--StudentSections {
  &__option--is-selected {
    background-color: $brand-color;
    color: white;
  }
  @include react-select-format();
}
