@mixin react-select-format() {
  &__control {
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-color: $light-grey !important;
    border-radius: 0px !important;
    font-weight: 500;
    background-color: transparent !important;
    &--is-focused {
      border-width: 0px 0px 1px 0px !important;
      border-style: solid !important;
      border-color: $brand-color !important;
      box-shadow: none !important;
    }
  }
}
.multiselect--ViewAll {
  @include react-select-format();

  &__option--is-focused {
    background-color: $very-light-green !important;
  }
}

@mixin multiSelect-remove-format() {
  &__multi-value {
    border-radius: 10px !important;
    font-size: $font-size-medium !important;

    &__remove {
      border-radius: 10px !important;
    }
  }
}
.multiselect--ViewAll {
  @include react-select-format();
  @include multiSelect-remove-format();

  &__control {
    margin-bottom: 20px;
    max-width: 70% !important;
  }
  &__menu {
    max-width: 70% !important;
  }
}

.multiselect--ManageSections {
  @include react-select-format();
  @include multiSelect-remove-format();

  &__control {
    max-width: 500px;
  }
}

.select--StudentSections {
  &__option--is-selected {
    background-color: $brand-color;
    color: white;
  }
  &__option--is-focused {
    background-color: $very-light-green !important;
  }

  @include react-select-format();
}

.select--assign-grader {
  &__option--is-selected {
    background-color: black;
    color: white;
  }
  &__option--is-focused {
    background-color: black !important;
    color: white;
  }

  @include react-select-format();
}

.select--Grader-section {
  @include react-select-format();
  &__control {
    max-width: 200px;
  }
}
