.rubric-menu {
  // max-height set using javascript
  overflow-y: scroll;
  overflow-x: hidden;

  border-right: 0px !important;

  .ant-menu-sub {
    background-color: transparent;
  }

  .ant-menu-submenu-title {
    width: 100%; // undoes an Ant hack

    height: 33px !important;
    line-height: 32px !important;

    font-weight: 500;
    font-size: 12px;

    padding-left: 0px !important;

    position: relative;
  }

  .ant-menu-item {
    width: 100%; // undoes an Ant hack

    height: 32px !important;
    line-height: 32px !important;

    padding-left: 26px !important;
    padding-right: 40px;

    font-size: 12px;

    &:hover {
      color: $brandPrimary !important;
    }
  }
}
