.sider-menu {
  // max-height set by javascript
  overflow-y: auto;
  overflow-x: hidden;

  border-right: 0px;

  .ant-menu-item {
    width: 100% !important; // undoes an Ant hack (calc(100% + 1px))

    height: 44px !important;
    line-height: 44px !important;

    padding-left: 26px !important;
    padding-right: 10px !important;

    font-size: 12px !important;
    font-weight: 500 !important;

    &::after {
      border-right: 5px solid var(--file-menu-selected-color, $brandPrimary) !important;
    }
  }

  &--light,
  &--dark {
    .ant-menu-item-selected {
      background-color: var(--file-menu-selected-bg, #f0fff7) !important;
      color: var(--file-menu-selected-color, $brandPrimary);
    }
  }
}

.tests-menu--dark {
  .ant-table-cell {
    background: #18191c !important;
  }

  .ant-table-tbody {
    background: #18191c !important;
  }

  .ant-table-thead>tr>th {
    background: #18191c !important;
    color: $neutralDarkMainText !important;
  }

  .ant-table-header-column {
    color: $neutralDarkMainText !important;
  }

  .ant-table-row {
    color: $neutralDarkMainText !important;
  }

  .ant-table-row:hover {
    background: gray;
    color: $brandPrimary !important;
  }
}

// Submenu for folder directories
#file-menu {
  .sider-submenu {
    .ant-menu-submenu-title {
      height: 24px;
      line-height: 24px;

      padding-left: 15px;
      font-size: 12px;
      font-weight: 400;
      margin-top: 0px;
      margin-bottom: 0px;
      border-top: var(--file-menu-submenu-border, 1px solid #f4f4f4);
      background-color: var(--file-menu-submenu-bg, #f9f9f9) !important;
      color: var(--file-menu-submenu-color, inherit);
    }

    .ant-menu-item {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

#file-menu {
  .sider-menu {
    .ant-menu-item {
      padding-left: 16px !important;
    }
  }
}

.submission-info__late-day-credits {
  width: 230px;
  margin: 4px 0px;

  .ant-alert {
    font-size: 12px;
  }

  .ant-alert.ant-alert-no-icon {
    padding: 2px 5px;
  }
}