.sider-menu {
  // max-height set by javascript
  overflow-y: scroll;
  overflow-x: hidden;

  border-right: 0px;

  .ant-menu-item {
    width: 100%; // undoes an Ant hack (calc(100% + 1px))

    height: 44px;
    line-height: 44px;

    padding-left: 26px;
    padding-right: 40px;

    font-size: 12px;
    font-weight: 500;

    &::after {
      border-right: 5px solid $brandPrimary;
    }
  }

  &--light {
    // .ant-menu-item {
    //   color: rgba(0, 0, 0, 0.5);
    // }

    .ant-menu-item-selected {
      background-color: #f0fff7 !important;
      color: $brandPrimary;
    }
  }

  &--dark {
    .ant-menu-item-selected {
      background-color: #323435 !important;
      color: $brandPrimary;
    }
  }
}
