// This mixin makes a react-md table have a fixed header with scrolling body.
// Need to specify the required vh of the body, which is dependent on how much other stuff
// is above the table
@mixin fixedTableHeader($table-body-vh) {
  .md-table-header {
    .md-table-row {
      display: table;
      table-layout: fixed;
      width: 100%;
      text-align: center;
    }
  }

  .md-table-body {
    display: block;
    overflow: auto;
    height: $table-body-vh;

    .md-table-row {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
  }
}

.DataTable--ManageUsers {
  @include fixedTableHeader(calc(100vh - 500px));
}

.DataTable--StudentData-All {
  @include fixedTableHeader(calc(100vh - 300px));
}

.DataTable--StudentData-Selected {
  @include fixedTableHeader(calc(100vh - 400px));
}

.DataTable--GraderData-All {
  @include fixedTableHeader(calc(100vh - 300px));
}

.DataTable--GraderData-Selected {
  @include fixedTableHeader(calc(100vh - 400px));
}

.DataTable--Grader {
  @include fixedTableHeader(calc(100vh - 150px));
}

.DataTable--ViewAll {
  @include fixedTableHeader(calc(100vh - 150px));
}
