.tab {
  &__title {
    display: inline-block;
  }
  &__comment-count {
    float: left;
    min-width: 12px;
    margin-top: 2px;
    margin-right: 2px;
    padding: 4px 3px 0 3px;
    height: 16px;
    font-size: 10pt;
    color: $brand-color;
    text-align: center;
    background-color: $very-light-grey;
    border: 1px solid $brand-color;
    border-radius: 10px;
    line-height: 5pt;
  }
}
