// This mixin makes a react-md table have a fixed header with scrolling body.
// Need to specify the required vh of the body, which is dependent on how much other stuff
// is above the table
@mixin fixedTableHeader($table-body-vh, $minimum-height) {
  .md-table-header {
    .md-table-row {
      display: table;
      table-layout: fixed;
      width: 100%;
      .md-table-column {
        text-align: center;
      }
      .left-aligned {
        text-align: left !important;
      }
    }
  }

  .md-table-body {
    display: block;
    overflow: auto;
    height: $table-body-vh;
    min-height: $minimum-height;
    font-weight: 350;
    .md-table-column:first-child {
      font-weight: 400;
    }

    .md-table-row {
      display: table;
      table-layout: fixed;
      width: 100%;
      cursor: pointer;
      .md-table-column {
        text-align: center;
      }
      .left-aligned {
        text-align: left !important;
      }
    }

    .frame::-webkit-scrollbar:vertical {
      width: 11px;
    }

    .frame::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white; /* should match background, can't be transparent */
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  // Used to color cell based on the type of data
  .table-cell {
    &--unsubmitted {
      color: $mid-grey;
      font-weight: 300;
    }
    &--unfinalized {
      color: $dark-grey;
      font-weight: 500;
    }
    &--graded {
      color: darken($brand-color, 10%);
      font-weight: 500;
    }
  }
}

@mixin wrapHeaders($first-column-width) {
  .md-table-column:first-child {
    width: $first-column-width;
  }
  .md-table-column--header {
    overflow-wrap: break-word;
    white-space: pre-line;
  }
  .md-table-column--adjusted {
    padding-right: 10px !important;
    overflow-wrap: break-word !important;
    max-width: 100%;
  }
  .md-table-column--sortable {
    .md-icon-text {
      padding-left: 0px !important;
      overflow-wrap: break-word;
      max-width: calc(100% - 21px);
    }
  }
}

.DataTable--ManageUsers {
  @include fixedTableHeader(calc(100vh - 470px), 400px);

  &__pagination {
    .md-table-pagination {
      margin-left: calc(100vw - 500px) !important;
    }
  }
}

.DataTable--ManageSections {
  @include fixedTableHeader(calc(100vh - 400px), 400px);
}

.DataTable--StudentData-All {
  @include fixedTableHeader(calc(100vh - 350px), 400px);
  @include wrapHeaders(200px);
}

.DataTable--StudentData-Selected {
  @include fixedTableHeader(calc(100vh - 380px), 400px);
}

.DataTable--GraderData-All {
  @include fixedTableHeader(calc(100vh - 350px), 400px);
  @include wrapHeaders(200px);
}

.DataTable--GraderData-Selected {
  @include fixedTableHeader(calc(100vh - 420px), 400px);
}

.data-table--grader {
  @include fixedTableHeader(calc(100vh - 250px), 400px);
  @include wrapHeaders(200px);
}

.data-table--view-all {
  @include fixedTableHeader(calc(100vh - 260px), 400px);
  @include wrapHeaders(200px);
}

.table--section {
  @include fixedTableHeader(calc(100vh - 280px), 400px);
  @include wrapHeaders(200px);
}

.DataTable--ManageAssignments {
  @include fixedTableHeader(calc(100vh - 340px), 400px);
}

.DataTable--RubricCategory {
  .md-divider--text-field {
    margin-bottom: 0px;
    margin-top: 3px;
  }
}

.table--grader-edit-rubric {
  &__row--disabled {
    cursor: not-allowed;

    &:hover {
      background-color: white;
      cursor: not-allowed;
    }
  }

  &__row {
    cursor: pointer;
  }
}
