// Fonts

$fontMain: get('theme.fontMain');
$fontCode: get('theme.fontCode');
$fontLogo: get('theme.fontLogo');

// Export for tsx
:export {
  fontMain: $fontMain;
  fontCode: $fontCode;
  fontLogo: $fontLogo;
}
