/* Copyright © 2026 Rutgers, the State University of New Jersey. All rights reserved except as defined by the Rutgers Non-Commercial License, included with this software. */
// Typography

// Font Weight
$fontWeightLight: 300;
$fontWeightRegular: 500;
$fontWeightMedium: 600;

// Font Size
$fontSizeSuper: 88;
$fontSizeHeading1: 64;
$fontSizeHeading2: 48;
$fontSizeHeading3: 40;
$fontSizeHeading4: 32;
$fontSizeHeading5: 24;
$fontSizeHeading6: 20;
$fontSizeHeading7: 16;
$fontSizeHeading8: 11;
$fontSizeBodyArticle: 20;
$fontSizeBodyArticleSmall: 16;
$fontSizeBodySmall: 14;
$fontSizeAccent: 16;
$fontSizeUppercase: 11;

// Line Height
$lineHeightSuper: calc(96 / $fontSizeSuper);
$lineHeightHeading1: calc(72 / $fontSizeHeading1);
$lineHeightHeading2: calc(56 / $fontSizeHeading2);
$lineHeightHeading3: calc(48 / $fontSizeHeading3);
$lineHeightHeading4: calc(40 / $fontSizeHeading4);
$lineHeightHeading5: calc(32 / $fontSizeHeading5);
$lineHeightHeading6: calc(28 / $fontSizeHeading6);
$lineHeightHeading7: calc(24 / $fontSizeHeading7);
$lineHeightHeading8: calc(16 / $fontSizeHeading8);
$lineHeightBodyArticle: calc(36 / $fontSizeBodyArticle);
$lineHeightBodyArticleSmall: calc(32 / $fontSizeBodyArticleSmall);
$lineHeightBodySmall: calc(20 / $fontSizeBodySmall);
$lineHeightAccent: calc(24 / $fontSizeAccent);
$lineHeightUppercase: calc(11 / $fontSizeUppercase);
$lineHeightReset: 1;

$highlightHeight: 16;

// Export for tsx
:export {
  fontWeightLight: $fontWeightLight;
  fontWeightRegular: $fontWeightRegular;
  fontWeightMedium: $fontWeightMedium;

  fontSizeSuper: $fontSizeSuper;
  fontSizeHeading1: $fontSizeHeading1;
  fontSizeHeading2: $fontSizeHeading2;
  fontSizeHeading3: $fontSizeHeading3;
  fontSizeHeading4: $fontSizeHeading4;
  fontSizeHeading5: $fontSizeHeading5;
  fontSizeHeading6: $fontSizeHeading6;
  fontSizeHeading7: $fontSizeHeading7;
  fontSizeHeading8: $fontSizeHeading8;
  fontSizeBodyArticle: $fontSizeBodyArticle;
  fontSizeBodyArticleSmall: $fontSizeBodyArticleSmall;
  fontSizeBodySmall: $fontSizeBodySmall;
  fontSizeAccent: $fontSizeAccent;
  fontSizeUppercase: $fontSizeUppercase;

  lineHeightSuper: $lineHeightSuper;
  lineHeightHeading1: $lineHeightHeading1;
  lineHeightHeading2: $lineHeightHeading2;
  lineHeightHeading3: $lineHeightHeading3;
  lineHeightHeading4: $lineHeightHeading4;
  lineHeightHeading5: $lineHeightHeading5;
  lineHeightHeading6: $lineHeightHeading6;
  lineHeightHeading7: $lineHeightHeading7;
  lineHeightHeading8: $lineHeightHeading8;
  lineHeightBodyArticle: $lineHeightBodyArticle;
  lineHeightBodyArticleSmall: $lineHeightBodyArticleSmall;
  lineHeightBodySmall: $lineHeightBodySmall;
  lineHeightAccent: $lineHeightAccent;
  lineHeightUppercase: $lineHeightUppercase;
  lineHeightReset: $lineHeightReset;

  highlightHeight: $highlightHeight;
}
