// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
// $text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-font-stack: 'Roboto', 'Franklin Gothic Medium', 'Tahoma', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$syntax-highlighter-font-stack: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(46, 205, 112) !default; // #2ecd70

/// Secondary brand color
/// @type Color
$brand-color-secondary: rgb(22, 126, 67) !default; // #167E43

/// Very Light green
/// @type Color
$very-light-green: rgb(247, 250, 246) !default; // #F7FAF6

/// Very Light grey
/// @type Color
$very-light-grey: rgb(245, 245, 245) !default;

/// Light grey
/// @type Color
$light-grey: rgb(225, 225, 225) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Theme grey
/// @type Color
$theme-grey: $light-grey !default; //#ffcdd2

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$topbar-height: 40px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
