.admin-submissions {
  &__activeUser {
    &__title-container {
      display: flex;
      align-items: center;
      padding: 20px 0px 20px 0px;
    }
    &__title {
      font-size: $font-size-xlarge;
      text-align: center;
      width: 100%;
      margin-left: 20px;
      flex-grow: 1;
    }
    &__uploadBtn {
      height: auto;
      text-transform: none;
    }
  }
}
