.Footer {
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 40px 80px 30px 80px;
  align-items: center;
  @media only screen and (max-width: 750px) {
    flex-direction: column;
  }
  &__copyright {
    color: #aab7c4;
    font-size: $font-size-medium;
    margin-bottom: 10px;
  }
  &__rightBox {
    display: flex;

    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }
    &__item {
      margin-left: 40px;
      margin-bottom: 10px;
      @media only screen and (max-width: 750px) {
        margin-left: 0px;
      }
      font-size: $font-size-medium;
      color: #9b9b9b;
      font-weight: 600;
      a {
        color: #9b9b9b;
        cursor: pointer;
      }
      a:hover {
        text-decoration: none;
        color: #9b9b9b;
      }
      a:active {
        text-decoration: none;
        color: #9b9b9b;
      }
      a:focus {
        text-decoration: none;
        color: #9b9b9b;
      }
    }
  }
}
