.grade__top-container {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid black;
}

.grade__main-container {
  width: 100%;
  padding: 10px;
  display: flex;

  &__left-panel {
    flex: 0 1 200px;
  }

  &__right-panel {
    flex: 1 1 0;
    padding-left: 10px;
  }
}

.grade {
  &__top-container {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;

    &__sub-details {
      flex: 0 1 250px;
    }

    &__sub-grade {
      flex: 1 1 0;
    }

    &__sub-finalize {
      flex: 0 1 150px;
      position: relative;
    }
  }

  &__main-container {
    width: 100%;
    padding: 10px;
    display: flex;

    &__left-panel {
      flex: 0 1 200px;
    }

    &__right-panel {
      flex: 1 1 0;
      padding-left: 10px;
    }
  }
}
