.grader {
  @include setMinPageHeight($topbar-height);
  @include dual-pane-fixed-left(200, 'left-panel', 'right-panel');

  &__left-panel {
    margin-top: -10px;
    padding-top: 10px;
    padding-right: 10px;
    border-right: 1px solid $mid-grey;
  }

  &__viewAll {
    padding-left: 30px;
    padding-right: 30px;
  }
  &__Section {
    &__title {
      font-size: 20px;
      font-weight: 500px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__getStarted {
    display: flex;
    min-width: 500px;
    &__arrow {
      padding-left: 0px;
      padding-right: 15px;
    }
    &__text {
      font-size: $font-size-xlarge;
      margin-top: auto;
      font-weight: 325;
    }
  }
}
