.login {
  @include formatAsWhiteBox();

  &__main-container {
    &__forms {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-left: 40px;
      padding-right: 40px;
      &__item {
        font-size: $font-size-large;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0px 10px 0px;
      }
    }

    a {
      color: green;
      text-decoration: underline;
    }

    &__loginBtn {
      @include button($brand-color, white);
      font-size: $font-size-xlarge;
      border-radius: 4px;
      padding: 4px 60px 4px 60px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      font-weight: bold;
    }

    &__footer {
    }
  }
}
