.passwordReset {
  @include formatAsWhiteBox();
  padding-top: 100px;
  min-height: calc(100vh - 60px);
  &__main-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: 750px;
  }

  &__title {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 375;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
  }

  a {
    color: green;
  }

  &__check-container {
    padding-top: 5px;
    display: flex;
    font-size: $font-size-medium;
    font-weight: 395;
    align-items: center;
  }
  &__check {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    &__icon {
      .md-text--error {
        color: $dark-red;
      }
      transition: 0.3s;
      margin-right: 3px;
    }
    &__text {
      &--accept {
        color: $brand-color;
        padding-bottom: 5px;
        transition: 0.3s;
      }
      &--reject {
        color: $dark-red;
        padding-bottom: 5px;
      }
    }
  }

  &__check-helptext {
    color: $dark-grey;
    padding-bottom: 5px;
    margin-right: 20px;
  }

  &__confirmation-container {
    padding-top: 5px;
    display: flex;
    font-size: $font-size-medium;
    font-weight: 395;
    align-items: center;
  }

  &__password2 {
    margin-top: 50px;
  }

  &__submitBtn {
    @include button($brand-color, white);
    font-size: $font-size-xlarge;
    border-radius: 6px;
    padding: 4px 60px 4px 60px;
    margin-top: 20px;
    &--hide {
      display: none;
    }
  }
}
