@mixin pricing-box-layout(
  $background-color,
  $border-color,
  $title-color,
  $text-color,
  $subtext-padding,
  $button-color,
  $button-text
) {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  &__title {
    font-size: 28px;
    text-align: center;
    padding: 35px 30px 20px 45px;
    font-weight: 500;
    border-bottom: 1px solid $border-color;
    color: $title-color;
  }
  &__subtext {
    font-size: 20px;
    padding: 20px $subtext-padding 20px $subtext-padding;
    line-height: 28px;
    color: $text-color;
    text-align: center;

    @media only screen and (max-width: 700px) {
      padding: 15px;
    }
  }
  &__features {
    display: flex;
    flex-direction: column;
    padding: 15px 40px 25px 40px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
    &__check {
      margin-right: 10px;
      width: 16px;
    }
    &__text {
      width: 24px;
      font-size: 17px;
      font-weight: 400px;
      color: $text-color;
      width: calc(100% - 24px);
    }
  }
  &__action {
    background-color: $button-color;
    padding: 25px;
    height: 80px;
    text-align: center;
    border-top: 1px solid $border-color;
    vertical-align: middle;
    font-size: 18px;
    color: $button-text;
    @include attention {
      background-color: shade($button-color, 10);
    }
    // overwriting react-md button behavior
  }
  .md-btn-text {
    margin-bottom: 0px !important;
    @media screen and (min-width: 320px) {
      margin-bottom: 0px !important;
    }
  }
  a:hover {
    text-decoration: none !important;
    color: $button-text !important;
  }

  a:active {
    text-decoration: none;
    color: $button-text;
  }
  a:focus {
    text-decoration: none;
    color: $button-text;
  }
}

.Pricing {
  padding-top: 35px;
  &__background {
    position: absolute;
    height: 700px;
    width: 100%;
    overflow: hidden;
    -webkit-transform: skewY(-8deg);
    transform: skewY(-8deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(150deg, #008576 15%, #00a976 60%, #2ecd70 80%);
  }
  &__main-container {
    margin-left: auto;
    margin-right: auto;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    padding: 30px 50px 100px 100px;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
      padding: 20px 20px 20px 20px;
      width: 100%;
      min-width: 0px;
    }
  }
  &__title-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  &__title1 {
    font-size: 36px;
    text-align: center;
    font-weight: 350;
    color: white;
    z-index: 10;
    margin-bottom: 15px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: 800px) {
      width: 90%;
      font-size: 28px;
    }
  }
  &__free {
    width: 500px;
    @include pricing-box-layout(white, $light-grey, $brand-color, $normal-grey, 100px, $very-light-green, $normal-grey);
    @media only screen and (max-width: 700px) {
      max-width: 100%;
    }
  }

  &__premium {
    width: 400px;
    @include pricing-box-layout(
      $dark-grey,
      $mid-grey,
      darken(white, 10%),
      darken(white, 10%),
      30px,
      $normal-grey,
      white
    );

    @media only screen and (max-width: 700px) {
      max-width: 100%;
    }

    &__features {
      padding: 20px 40px 30px 40px;
    }
  }
}
