/* Copyright © 2026 Rutgers, the State University of New Jersey. All rights reserved except as defined by the Rutgers Non-Commercial License, included with this software. */
// This is to make an ant input be viewable (not greyed out) and also disabled
#Settings .input--disabled-normal .ant-input-disabled {
  background-color: transparent;
  color: black;
  cursor: default;
}
