.SignUpManager {
  @include formatAsWhiteBox();
  padding-top: 100px;
  min-height: 20vh;
  &__main-container {
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    width: 700px;
  }
  &__title {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__item {
    flex: 1 1 auto;
    align-items: center;
    padding: 10px 150px 10px 150px;
    display: flex;
  }

  &__Btn {
    @include button(white, $brand-color);
    flex-grow: 1;
    font-size: $font-size-xxlarge;
    font-weight: 500;
    border-radius: 16px;
    border: 1px solid $brand-color;
    padding: 20px 30px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
    &:hover {
      @include button($brand-color, white);
      transition: 0.4s;
    }
  }
}
