.SignUpManager {
  @include formatAsWhiteBox();
  padding-top: 100px;

  &__main-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    width: 700px;

    @media only screen and (max-width: 750px) {
      width: auto;
      min-width: 310px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  &__title {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: $normal-grey;
    font-weight: 450;
  }

  &__item {
    flex: 1 1 auto;
    align-items: center;
    padding: 10px 50px 10px 50px;
    justify-content: center;
    display: flex;
  }

  &__subtitle {
    font-size: $font-size-large;
    padding: 0 30px;
  }

  &__Staff {
    @include pairedbuttons(210px);
    color: $brand-color;
    display: flex;
    font-weight: 500 !important;

    @media only screen and (max-width: 600px) {
      @include pairedbuttons(150px);
    }
  }

  &__Btn {
    @include button(white, $brand-color);
    flex-grow: 1;
    font-size: $font-size-xxlarge;
    font-weight: 500;
    border-radius: 16px;
    border: 1px solid $brand-color;
    padding: 20px 30px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
    &:hover {
      @include button($brand-color, white);
      transition: 0.4s;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 60px 30px 60px;
    &__helptext {
      font-style: italic;
    }
    &--lessPadding {
      padding: 10px 60px 30px 60px;
    }
    &__email--abovePass {
      margin-bottom: 35px;
    }
    &__ConfirmAuthority {
      display: flex;
      justify-content: space-around;
    }
  }
  &__submitBtn {
    @include button($brand-color, white);
    font-size: $font-size-xlarge;
    border-radius: 6px;
    padding: 4px 60px 4px 60px;
    margin-top: 60px;
  }

  &__center-text {
    font-size: $font-size-xlarge;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 20px;
    color: $normal-grey;
    font-weight: 400;
  }
}
