.TOS {
  display: flex;
  flex-direction: column;
  padding: 50px 200px 50px 200px;

  @media only screen and (max-width: 1200px) {
    padding: 50px 100px 50px 100px;
  }

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: $font-size-xxlarge;
    color: darken($brand-color, 10);
    margin-bottom: 40px;
  }

  &__items-container {
    ol {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    li {
      font-size: 17px;
      font-weight: 300;
      margin-bottom: 8px;
      margin-top: 8px;
    }
  }

  &__section-title {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 300px;
    color: darken($brand-color, 10);
    font-size: $font-size-xlarge;
  }
  &__item-normaltext {
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 300;
  }
}

.Privacy {
  display: flex;
  flex-direction: column;
  padding: 50px 200px 50px 200px;

  @media only screen and (max-width: 1200px) {
    padding: 50px 100px 50px 100px;
  }

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: $font-size-xxlarge;
    color: darken($brand-color, 10);
    margin-bottom: 40px;
  }

  &__item {
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 300;
  }
}
