@import 'globals';
$material-icons-font-path: '~material-icons/iconfont/';

$primary-color: #2ecd70;
$md-primary-color: #2ecd70;
$md-secondary-color: #ffcdd2;
$md-snackbar-color: $primary-color;
@import '~material-icons/iconfont/material-icons.scss';
@include react-md-everything;
@include react-md-theme-everything($primary-color, $md-secondary-color);

///////////////
// Theme
///////////////

$primary-font: roboto;

///////////////
///////////////

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

.App {
  width: 100%;
}

.snackbar {
  width: 100%;
  font-weight: 500;
  color: red;
  max-width: 100;
  // $md-snackbar-desktop-max-width: 100%;
  //
  // @include react-md-snackbars-desktop;
  // @include react-md-snackbars;
}

.progressCircle {
  @include react-md-progress-circular($primary-color);
}

.Enroll-students-table {
  width: 800px;
}

.padding {
  height: 50px;
}

.App-intro {
  font-size: large;
}

.topbar {
  background-color: #f5f5f5;
  height: 60px;
  width: 100%;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: $primary-color;
  font-size: 30px;
}

.topbar-logo {
  padding: 20px;
}

.codePost-P {
  color: $primary-color;
}

.welcome {
  font-size: 20px;
  float: right;
}
