///////////////
// Theme
///////////////

$primary-color: #2ECD70;
$primary-font: roboto;

$dark-color: #DEDEDE;


///////////////
///////////////

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

.App {
  width: 100%;
}

#topbar {
  color: $dark-color;
  height: 45px;
  background: rgba(0, 0, 0, 0.89);
  width: 100%;
}

.topbar-logo {
  margin: 10px;
}

.codePost-P {
  color: $primary-color;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
