///////////////
// Theme
///////////////

@import '~react-md/src/scss/react-md';

$md-primary-color: #2ecd70;
$md-secondary-color: #ffcdd2;
@include react-md-everything;

$codePost-color: #2ecc71;
$codePost-color-light: #b1f2cc;
$Stats-text-color: #787575;

$light-grey: #f7f7f7;
$dark-grey: #e9e9e9;

$big-header-font-size: 30px;
$header-font-size: 24px;
$text-font-size: 18px;

$Stats-font-size: 24px;

$path-box-height: 50px;
$buffer-height: 150px;

%landing-headline {
  font-size: $big-header-font-size;
  font-weight: bold;
  text-align: center;
  color: $codePost-color;
}

.Landing {
  min-width: 1000px;
  background-color: white;
}

.topbar {
  background-color: white;
  $md-toolbar-relative: true;

  .SignupBtn {
    color: white;
    background-color: $codePost-color;
  }
}
.Hero {
  height: 550px;
  background-color: $dark-grey;
  padding-left: 60px;

  .logo {
    padding-top: 200px;
    font-size: 40px;
  }

  .Description-head {
    font-size: $big-header-font-size;
    font-weight: bold;
    padding-top: 30px;
  }

  .Description-text {
    font-size: $text-font-size;
    padding-top: 15px;
  }
}

.pathBox {
  background-color: $light-grey;
  height: $path-box-height;
}

.Numbers {
  background-color: $light-grey;
  padding: 20px;

  padding-top: 0px;
  padding-bottom: 10px;
  color: $Stats-text-color;
  font-size: $header-font-size;
  font-weight: bold;

  .stats {
    padding: 10px;
  }

  .subtext {
    font-weight: normal;
  }

  .footnote {
    font-size: $text-font-size;
    padding-top: 30px;
    font-style: oblique;
    font-weight: normal;
    padding: 0px;
  }
}

.buffer {
  height: $buffer-height;
}

.newFlow {
  display: flex;

  .headline {
    @extend %landing-headline;
    margin: auto;
  }

  .diagram {
    height: inherit;
    text-align: center;

    .admin,
    .cP-logo,
    .grader-student {
      height: 33.3%;
      margin: auto;
      padding: 20px;
    }

    .grader-student {
      margin: 0px;
    }

    .admin {
      padding-top: 5%;
      max-width: 500px;
    }

    .logo-icon {
      transform: translate(0, 50%);
      display: block;
      margin: auto;
    }

    .text {
      font-size: $text-font-size;

      b {
        opacity: 0.75;
      }
    }

    .title {
      font-size: $header-font-size;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .admin-new-icon {
      z-index: -1;
      transform: translate(0px, 0px);
    }

    .grader-new-icon {
      z-index: -1;
      transform: translate(75px, -185px);
    }

    .student-new-icon {
      z-index: -1;
      transform: translate(-75px, -150px);
    }
  }
}

.oldFlow {
  display: flex;

  .problems {
    height: inherit;
    padding-left: 50px;
    padding-right: 20px;

    .admin,
    .grader,
    .student {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .icons {
      margin-top: 5%;
    }

    .headline {
      font-size: $big-header-font-size;
      font-weight: 375;
      text-align: center;
      opacity: 0.5;
      font-weight: bold;
      padding-bottom: 30px;

      b {
        color: red;
      }
    }
    .title {
      font-size: $header-font-size;
      font-weight: bold;
      opacity: 0.5;
    }

    .text {
      height: 100%;
      padding-top: 30px;
    }
    .bullet {
      height: 20%;
      font-weight: 350;
      font-size: $text-font-size;

      b {
        opacity: 0.75;
      }
    }
  }

  .CP-headline {
    margin: auto;
    padding-left: 20px;
    padding-right: 50px;
    .bullet-bold {
      text-align: center;
      @extend %landing-headline;
    }
  }
}

.siteVideos {
  background-image: linear-gradient($codePost-color-light, white);
  display: flex;

  .navButtons {
    display: flex;
    $md-btn-tb-padding: 55px !global;
    $md-btn-font-size: $big-header-font-size !global;
    @include react-md-buttons;

    .active {
      background-color: $codePost-color-light;
    }

    .admins-btn,
    .graders-btn,
    .students-btn {
      width: 200px;
    }
  }

  .videos {
    margin: auto;

    .video {
      width: 720px;
      height: 540px;
    }
  }

  .rows {
    margin: auto;
  }
}

.testomonials {
  height: 300px;
  display: flex;

  .trustedBy {
    text-align: center;
    margin: auto;
    font-size: $header-font-size;
    font-weight: bold;
    color: $Stats-text-color;
  }

  .princeton-logo {
    padding-top: 30px;
  }
}

///////////////
///////////////
