/////////////////////////////////////////////////
// Vertical Pane
/////////////////////////////////////////////////

.container-vertical-pane {
  flex: 0 1 200px;
}

.vertical-pane {
  padding: 0;
  margin-bottom: 10px;
}

.vertical-pane-tab {
  list-style-type: none;
  border: 1px solid #ececee;
  border-left: none;
  border-right: none;
  padding: 10px;
  border: '1px solid #ddd';
}

.vertical-pane-tab.selected {
  background-color: #f9f9f9;
  border-left: 6px solid #2ecc71;
  transition: border-left 0.3s ease;
}

.vertical-pane-tab:hover {
  background-color: #dedede;
}
