/**
 * Basic typography style for copy text
 */

// Defining font variables
$font-size-small: 10px;
$font-size-normal: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 32px;

$font-size-syntax-highlighter: 13px;

body {
  color: $text-color;
  font-size: $font-size-normal;
  // font: normal 70% / 2 $text-font-stack;
}
